{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大喜利にんじん</title>
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <header class="header">
      <div class="nav">
        <input id="drawer_input" class="drawer_hidden" type="checkbox">
        <label for="drawer_input" class="drawer_open"><span></span></label>
        <nav class="nav_content">
            <a class="menu">menu</a><hr>
              <ul class="nav_list">
                <li class="nav_item"><a href="#">HOME</a></li><hr>
                <li class="nav_item"><a href="#">お題を見る</a></li><hr>
                <li class="nav_item"><a href="#">ログイン・新規登録</a> </li><hr>
              </ul>
        </nav>
      </div>
        <a href="#" onclick="history.back(-1);return false"><img src="{% static 'images/return.png' %}" class="return"></a>
    </header>

    <a href="{% url 'Ogiri:post' %}">大喜利の投稿</a><br>

    <a href="{% url 'Ogiri:reverse_post' %}">逆大喜利の投稿</a><br>

    <a href="{% url 'Ogiri:image_post' %}">画像で一言</a><br>

    <a href="{% url 'Ogiri:imitation_post' %}">なりきり大喜利の投稿</a>
</body>
</html>